{% extends 'log.html.twig' %}



{% block body %}
    <h1>Create new Categori</h1>

    {{ include('categori/_form.html.twig') }}

    <a href="{{ path('app_categori_index') }}">back to list</a>
{% endblock %}
